@import url("https://noonnu.cc/font_page/393");

@font-face {
  font-family: "PFStardust";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bitbit";
  src: url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff"),
    url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2");
}

.Background {
  position: relative;
  width: 390px;
  height: 844px;
  background: #ffb8bc;
  margin: 0;
  padding: 0;
}
.loginHead {
  position: absolute;
  width: 217px;
  height: 122.37px;
  left: 84px;
  top: 59px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.AskMember {
  position: absolute;
  width: 92px;
  height: 51px;
  left: calc(50% - 92px / 2 - 57px);
  top: 201px;

  font-family: "PFStardust";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 51px;

  color: #000000;
}

.ID {
  position: absolute;
  width: 35px;
  height: 32px;
  left: 49px;
  top: 239px;

  font-family: "bitbit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;

  color: #ffffff;
}

.Loginbox {
  position: absolute;
  width: 290px;
  height: 36px;
  left: calc(50% - 290px / 2);
  top: 282px;
  background: #ffe9ea;
  border-radius: 40px;

  font-family: "PFStardust";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 55px;
  color: #000000;

  margin: 0;
  padding: 0;
  border: none;
}

.PW {
  position: absolute;
  width: 35px;
  height: 32px;
  left: 49px;
  top: 349px;
  font-family: "bitbit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  text-shadow: 1.3px solid #15321c;
  color: #ffffff;

  margin: 0;
  padding: 0;
}

.PwBox {
  position: absolute;
  width: 290px;
  height: 36px;
  left: 49px;
  top: 390px;

  background: #ffe9ea;
  border-radius: 40px;
  font-family: "PFStardust";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 55px;
  color: #000000;

  margin: 0;
  padding: 0;
  border: none;
}

.LoginButton {
  position: absolute;
  width: 240px;
  height: 54.55px;
  left: calc(50% - 240px / 2);
  top: 500px;
  margin: 0;
  padding: 0;
}

.askMemberYet {
  position: absolute;
  width: 160px;
  height: 51px;
  left: calc(50% - 154px / 2 - 1px);
  top: 636px;

  font-family: "PFStardust";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 51px;

  color: #000000;
  margin: 0;
  padding: 0;
}

.JoinButton {
  position: absolute;
  width: 240px;
  height: 54.55px;
  left: calc(50% - 240px / 2 - 1px);
  top: 700px;
  margin: 0;
  padding: 0;
}

.errorID {
  position: absolute;
  width: 156px;
  height: 42px;
  left: calc(50% - 156px / 2 - 25px);
  top: 239px;

  font-family: "PFStardust";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 42px;
  /* identical to box height */

  color: #b45f66;
}

.errorPW {
  position: absolute;
  width: 252px;
  height: 42px;
  left: 95px;
  top: 349px;

  font-family: "PFStardust";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 42px;
  /* identical to box height */

  color: #b45f66;
}
