.Background {
  position: relative;
  width: 390px;
  height: 844px;

  background: #ffb8bc;
  margin: 0;
  padding: 0;
}
.AvatarCheck {
  position: absolute;
  width: 250px;
  height: 250px;
  left: calc(50% - 250px / 2);
  top: 29px;

  background: #ffe9ea;
  border-radius: 40px;
  margin: 0;
  padding: 0;
}

.model {
  position: absolute;
  width: 200px;
  height: 200px;
  left: calc(50% - 200px / 2);
  top: 40px;
}

.pickHead {
  position: absolute;
  width: 350px;
  height: 71px;
  left: calc(50% - 350px / 2);
  top: 320px;
}

.pickBody {
  position: absolute;
  width: 350px;
  height: 71px;
  left: calc(50% - 350px / 2);
  top: 552px;
  
}

.pickClothes {
  position: absolute;
  width: 350px;
  height: 71px;
  left: calc(50% - 350px / 2);
  top: 436px;
}

.pickHat {
  position: absolute;
  width: 350px;
  height: 71.82px;
  left: calc(50% - 350px / 2);
  top: 668px;
}
